@font-face {
   font-family: 'SP-GameOver';
   font-display: swap;
   src: url('file:///C:/Users/Admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-10_202110/fonts/SP-GameOver/font.ttf');
}
