@font-face {
   font-family: 'SOV_Thanamas-Bold';
   font-display: swap;
   src: url('file:///C:/Users/Admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-07_200158/fonts/SOV_Thanamas-Bold/font.ttf');
}
