@font-face {
   font-family: 'KC Nightmare';
   font-display: swap;
   src: url('file:///C:/Users/Admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-07_200158/fonts/KC%20Nightmare/font.ttf');
}
